body{
  margin:0;
}

section{
  margin : 10px;
}

h1{
  font-family: fantasy;
  color: #965529;
}

h2{
  font-family: sans-serif;
  color: green;
}

h3 {
  font-family: sans-serif;
}

p{
  font-family: sans-serif;
  text-align: justify;
}

article{
  border : 0.05rem solid #965529;
  margin-bottom: 5px;
}

.presentation{
  border: none;
}

article p, article h2, article h3{
  margin : 5px 10px 0px 10px;
}

.signiature{
  font-size: 0.75rem;
  font-family: serif;
  font-style: italic;
  font-weight: bold;
  text-align: right;
}
.image{
  background: #965529;
  width: 100%;
  text-align: center;
  line-height: 0;
}

.image img{
  width: auto;
  max-width: 200px;
  max-height: 200px;
}
.blackframed {
}

nav a, footer a {
  color: green;
  text-decoration: none;
  font-weight: bold;
}

/*Code Grid CSS*/
/*définition des classe grid*/
.wrapper{
  display: grid;
  grid-gap: 1em;
  grid-template-areas:
  "header"
  "nav"
  "main"
  "section"
  "footer"
}
.nav{
  grid-area: nav;
  background: black;
  width: 100%;
  padding: 5px 0px 5px 0px;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-around;

}
.header{
  grid-area: header;
}
.main{
  grid-area: main;
  margin : 5px;
}
.section{
  grid-area: section;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  grid-gap: 10px;
  grid-auto-flow: dense;
  list-style: none;
  margin: 1em auto;
  padding: 0;
  max-width: 800px;
}
.footer{
  grid-area: footer;
  background: black;
  width: 100%;
  padding: 5px 0px 5px 0px;
  text-align: center;
  font-family: sans-serif;
}
/*Templating de la classe section par taille d'écrans*/
@media only screen and (min-width: 600px) {
  .wrapper{
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-gap: 1em;
    grid-template-areas:
    "header nav"
    "main main"
    "section section"
    "footer footer"
  }
  .section{
    grid-area: section;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 10px;
    grid-auto-flow: dense;
    list-style: none;
    margin: 1em;
    padding: 0;
    max-width: 100%;
    min-width: 200px;
  }
}
