<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Groupe Madera</title>
    <link href="./css/style.css" rel="stylesheet" type="text/css">
    <link href="./css/search.css" rel="stylesheet" type="text/css">
    <meta name="robots" content="noindex, nofollow">
  </head>
  <body>
    <div class="wrapper" id="main" v-cloak>
      <header class="header">
        <a href="./index.html">
          <img src="./img/logo.png" alt="Logo Madera" title="Logo Madera" class="logo">
        </a>
      </header>
      <nav class="nav" aria-label="Primary NavBar">
          <a href="./index.html">Accueil</a>
          <a href="./presentation.html">Qui Sommes-nous ?</a>
          <a href="./construction.html">Nos produits</a>
          <a href="./contact.html">Nous contacter</a>
      </nav>
      <main class="main">
        <h1>Les News</h1>
          <div class="bar">
              <input type="text" v-model="searchString" placeholder="Chercher un article" />
          </div>
      </main>
      <div class="section">
          <section class="section2" v-for="article in filteredArticles">
            <article>
              <div class="image">
                <img v-bind:src="article.image">
              </div>
              <h2>{{article.title}}</h2>
              <p>{{article.texte}}</p>
              <p class="signiature">Ecrit par {{article.signiature}} Le {{article.date}}</p>
            </article>
          </section>
        </div>
      <footer class="footer">
        <nav aria-label="Secondary NavBar" class="nav">
          <a href="./index.html">Accueil</a>
          <a href="./presentation.html">Qui Sommes-nous ?</a>
          <a href="./construction.html">Nos produits</a>
          <a href="./contact.html">Nous contacter</a>
          <a href="./construction.html">Mentions Legales</a>
        </nav>
        <p style="color:white; font-size:0.75rem; text-align: center;">Copyright (c) 2018 Copyright Groupe Madera All Rights Reserved.</p>
      </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.5/vue.min.js"></script>
    <script src="./js/search.js"></script>
  </body>
</html>
